html {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    background-color: rgb(19, 19, 19);
}

img {
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px;
    width: 125px;
    background-color: lightgray;
}

.card {
    text-align: center;
    display: inline-grid;
    margin: 3px;
}

h2 {
    font-size: medium;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

select {
    font-family: 'Courier New', Courier, monospace;
}